.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 600px;
    margin: 0 auto;

}
.logo {
    grid-column: 1/2;
}
.name {
    grid-column: 3/4;
    text-align: left;
}
.denver {
    grid-column: 1/2;
    grid-row: 2;
    text-align: center;
}
.airplane {
    grid-column: 2/3;
    grid-row: 2;
}
.boston {
    grid-column: 3/4;
    text-align: center;
}
.info {
    grid-row: 3/4;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}
strong {
    font-size: 15px;
    display: block;
  }
small {
    font-size: 11px;
    color: #A2A9B3;
    margin-bottom: 2px;
  }
  footer {
      grid-column: 2/3;
      grid-row: 4/5;
  }
  .airplane {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 