html {
    background-image: linear-gradient(to right, white , lightblue);
}
#page {
    max-width: 1000px;
    margin:0 auto;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    text-align: center;  
}
header {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 250px;
}
section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
    border-radius: 25px;
  }
footer {
    text-align: center;
}