.large {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    margin: 0 auto;
}

.forest {
    max-width: 80%;
}
.lake {
    max-width: 80%;
}
.lightning {
    max-width: 80%;
}
.tetons1 {
    max-width: 80%;
}
.tetons2 {
    max-width: 80%;
}
.tetons3 {
    max-width: 80%;
}
.tetons4 {
    max-width: 80%;
}
.tetons5 {
    max-width: 80%;
}
.tetons6 {
    max-width: 80%;
}